<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Room</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body class="main__body">
  <header id="nav">
    <div class="nav--list">
      <a href="/meetings">
        <h3 class="logo">
          <img src="./assets/logo.png" alt="Site Logo">
          <span>Mumble</span>
        </h3>
      </a>
    </div>

    <div class="nav--list">
      <a href="/chats">
        <h2 class="logo">
          <img src="./assets/chat-4-512.png" alt="Chat Icon">
          <span>Chats</span>
        </h2>
      </a>
    </div>

    <div class="nav--list">
      <a href="https://github.com/Zel1oy" target="_blank">
        <h2 class="logo">
          <img src="./assets/about-icon.png" alt="About Icon">
          <span>About Author</span>
        </h2>
      </a>
    </div>

    <div id="nav__links">
      <a class="nav__link" href="/meetings">
        Lobby
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ede0e0" viewBox="0 0 24 24"><path d="M20 7.093v-5.093h-3v2.093l3 3zm4 5.907l-12-12-12 12h3v10h7v-5h4v5h7v-10h3zm-5 8h-3v-5h-8v5h-3v-10.26l7-6.912 7 6.99v10.182z"/></svg>
      </a>
      <a class="nav__link" id="create__room__btn" href="/meetings/create">
        Create Room
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ede0e0" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
      </a>
    </div>
  </header>
  <router-outlet></router-outlet>
</body>

